@import "~vue-material/dist/theme/engine";

$primary: md-get-palette-color(pink, 100);
$accent: md-get-palette-color(lightgreen, A100);
$background: md-get-palette-color(amber, 50);

@include md-register-theme("default", (
  primary: $primary,
  accent: $accent
));
@import "~vue-material/dist/theme/all";

body {
  overflow-x: hidden;
}